@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  opacity: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  animation: show 1s forwards;
  transform: scale(0,0);
}

@keyframes show {
  0%{
      opacity: 0;
      transform: scale(0,0);
  }
  100%{
      opacity: 1;
      transform: scale(1,1);
  }
}

.check-container {
width: 9rem;
height: 10rem;
display: flex;
flex-flow: column;
align-items: center;
justify-content: space-between;
}

.check-background {
  width: 100%;
  height: calc(100% - 1.25rem);
  background: linear-gradient(to bottom right, #5de593, #41d67c);
  box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
    0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  transform: scale(0.84);
  border-radius: 50%;
  animation: animateContainer 0.75s ease-out forwards 0.75s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
svg {
  width: 80%;
  transform: translateY(0.25rem);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: animateCheck 0.35s forwards 1.25s ease-out;
}

@keyframes animateContainer {
0% {
  opacity: 0;
  transform: scale(0);
  box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
    0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
}
25% {
  opacity: 1;
  transform: scale(0.9);
  box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
    0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
}
43.75% {
  transform: scale(1.15);
  box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
    0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
}
62.5% {
  transform: scale(1);
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
    0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
}
81.25% {
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
  0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
}
100% {
opacity: 1;
box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
  0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
}
}

@keyframes animateCheck {
  from {
  stroke-dashoffset: 80;
  }
  to {
  stroke-dashoffset: 0;
  }
}

.succesful-title{
  font-family: "Poppins";
  line-height: normal;
  font-size: 30px;
  font-weight: 600;
}

.succesful-label{
  font-family: "Poppins";
  line-height: normal;
  font-size: 17px;
  font-weight: 300;
}

.redirect-button{
  margin-top: 50px;
  border: none;
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #FF2A2A;
  color: #FFF;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(to right, #ca2020 50%, #FF2A2A 50%);
  background-size: 200% 100%;
  background-position: right;
  /* transition: all 5s ease; */
  animation: redirect 8s ease;
}

@keyframes redirect {
  from {
      background-position: right;
    }
  to {
      background-position:left;
    }
}